.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
  width: 90%;
  height:90%;
  left:5%;
  border-radius: 15px;
}

.right-arrow {
  position: fixed;
  justify-content: center;
  right: 5%;
  top: 45%;
  font-size: 3vw;
  color: #111;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .right-arrow {
    right: 5%;
    font-size: 5vw;
  }
}

.left-arrow {
  position: fixed;
  justify-content: center;
  top: 45%;
  left: 5%;
  font-size: 3vw;
  color: #111;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 768px) {
    .left-arrow {
      left: 5%;
      font-size: 5vw;
    }
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

@media screen and (max-width: 768px) {
  .slide {
    transform: scale(1);
  }
}

@media screen and (max-height: 480px) {
  .slide {
    transform: scale(.3);
  }
}

@media screen and (max-height: 768px) and (max-width: 480px) {
  .slide {
    transform: scale(1.2);
  }
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .slide.active {
    transform: scale(1);
  }
}

@media screen and (max-height: 480px) {
  .slide.active {
    transform: scale(.3);
  }
}

@media screen and (max-height: 768px) and (max-width: 480px) {
  .slide.active {
    transform: scale(1.2);
  }
}